/* Ctrl + C, Ctrl + V from W3SCHOOLS (mostly)
From here: https://www.w3schools.com/howto/howto_js_collapsible.asp */

/* Style the button that is used to open and close the collapsible content */
button.collapsible {
    background-color: #2B2D33;
    color: #C3C4C6;
    cursor: pointer;
	padding: 18px;
	width: 100%;
    border: none;
    text-align: left;
    font-size: 20px;
    font-weight: 300;
}

button.collapsible:focus {
    outline-offset: -2px;
    outline: 2px solid #2B2D33;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
button.active, button.collapsible:hover {
    background-color: #2B2D33;
}

/* Style the collapsible content. Note: hidden by default */
.collapse-content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

button.collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

button.active:after {
    content: "\2212";
}