body {
  font-family: "Lato", Trebuchet MS;
  background-color: #36393F;
}
.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #2B2D33;
  overflow-x: hidden;
  padding-top: 0px;
  color: #fff;
}
.sidenav a {
  text-decoration: none;
  color: #8A8E93;
}
.sidenav a:hover {
  color: #f1f1f1;
}
.main {
  margin-left: 160px;
  font-size: 20px;
  padding: 0px 10px;
  color: #DCDDDE;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
html {
  scroll-behavior: smooth;
}
.sidenav>:not(hr) {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  display: block;
}
.sidenav>:first-child {
  margin-block-start: 0.5em;
}
a { 
    color: #6F84D1;
}
.sidenav button.collapsible {
	padding: 1px 6px;
	width: initial;
}
.sidenav button.collapsible:after {
	margin: 0;
}
.vert-center {
	display: flex !important;
	align-items: center;
	justify-content: space-between;
}
.sidenav .collapse-content {
	padding: 5px 0 5px 5px;
	margin-left: 5px;
	margin-top: 5px;
	background-color: #464953;
	font-size: 15px;
}
.sidenav .collapse-content :not(:last-child) {
	margin-bottom: 7px;
}
.sidenav .collapse-content>a {
	color: #adb0b3;
}

.sidenav .collapse-content>* {
	display: block;
}
.sidenav .collapse-content>a:hover {
	color: #f1f1f1;
}
button.collapsible {
    background-color: #2B2D33;
    color: #C3C4C6;
    cursor: pointer;
	padding: 18px;
	width: 100%;
    border: none;
    text-align: left;
    font-size: 20px;
    font-weight: 300;
}
button.collapsible:focus {
    outline-offset: -2px;
    outline: 2px solid #2B2D33;
}
button.active, button.collapsible:hover {
    background-color: #2B2D33;
}
.collapse-content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
button.collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}
button.active:after {
    content: "\2212";
}