body {
  font-family: "Lato", Trebuchet MS;
  background-color: #36393F;
}

.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #2B2D33;
  overflow-x: hidden;
  padding-top:0px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #8A8E93;
  display: block;
}

.sidenav p {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #8A8E93;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 160px;
  font-size: 20px;
  padding: 0px 10px;
  color: #DCDDDE;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: "Lato", Trebuchet MS;
}

.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #2B2D33;
  overflow-x: hidden;
  padding-top:0px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #8A8E93;
  display: block;
}

.sidenav a:first-of-type {
  margin-block-start: 0.5em;
}

.sidenav p {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #8A8E93;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 160px;
  font-size: 20px;
  padding: 0px 10px;
  color: #DCDDDE;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

html {
  scroll-behavior: smooth;
}

a { 
    color: #6F84D1;
}

img {
  animation-duration: 1s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-top: 100%;
    width: 200px; 
  }

  to {
    margin-top: 0%;
    width: 200px;
  }